In [1]:
from tensorflow import keras
import pandas as pd
from sklearn import datasets

In [4]:
data = datasets.load_iris()

In [5]:
df = pd.DataFrame(data.data, columns = data.feature_names)

In [6]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
df["species"] = data.target

In [9]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [10]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
df["species"].unique()

array([0, 1, 2])

In [11]:
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [19]:
x =df.drop("species", axis =1)

In [20]:
y =df["species"]

In [23]:
y.value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 5,
                                                    stratify = y)

In [30]:
x_train.shape

(120, 4)

In [32]:
x_test.shape

(30, 4)

In [33]:
# 스케일링
mm = MinMaxScaler()
scaled_train = mm.fit_transform(x_train)
scaled_test = mm.transform(x_test)

In [37]:
# 모델 생성
model = keras.Sequential()
model.add(keras.layers.Dense(16, activation = "relu", input_shape = (4,)))
model.add(keras.layers.Dense(3, activation = "softmax"))

In [38]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                80

 dense_1 (Dense)             (None, 3)                 51

=================================================================
Total params: 131 (524.00 Byte)
Trainable params: 131 (524.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [39]:
model.compile(loss = "sparse_categorical_crossentropy",
             optimizer = "adam",
            metrics  = ["accuracy"])

In [40]:
model.fit(scaled_train, y_train, epochs =50,
         batch_size = 16,
         validation_split = 0.2)

Epoch 1/50
6/6 [==============================] - 1s 58ms/step - loss: 1.0434 - accuracy: 0.6458 - val_loss: 1.0021 - val_accuracy: 0.7500
Epoch 2/50
6/6 [==============================] - 0s 12ms/step - loss: 1.0275 - accuracy: 0.6458 - val_loss: 0.9939 - val_accuracy: 0.7500
Epoch 3/50
6/6 [==============================] - 0s 13ms/step - loss: 1.0148 - accuracy: 0.6458 - val_loss: 0.9862 - val_accuracy: 0.7500
Epoch 4/50
6/6 [==============================] - 0s 12ms/step - loss: 1.0021 - accuracy: 0.6562 - val_loss: 0.9785 - val_accuracy: 0.7500
Epoch 5/50
6/6 [==============================] - 0s 11ms/step - loss: 0.9905 - accuracy: 0.6562 - val_loss: 0.9714 - val_accuracy: 0.7500
Epoch 6/50
6/6 [==============================] - 0s 12ms/step - loss: 0.9790 - accuracy: 0.6354 - val_loss: 0.9645 - val_accuracy: 0.6667
Epoch 7/50
6/6 [==============================] - 0s 12ms/step - loss: 0.9680 - accuracy: 0.6667 - val_loss: 0.9581 - val_accuracy: 0.5833
Epoch 8/50
6/6 [==============================] - 0s 13ms/step - loss: 0.9578 - accuracy: 0.6771 - val_loss: 0.9523 - val_accuracy: 0.5833
Epoch 9/50
6/6 [==============================] - 0s 12ms/step - loss: 0.9472 - accuracy: 0.6667 - val_loss: 0.9465 - val_accuracy: 0.5417
Epoch 10/50
6/6 [==============================] - 0s 12ms/step - loss: 0.9378 - accuracy: 0.6667 - val_loss: 0.9408 - val_accuracy: 0.5833
Epoch 11/50
6/6 [==============================] - 0s 14ms/step - loss: 0.9284 - accuracy: 0.6979 - val_loss: 0.9353 - val_accuracy: 0.6667
Epoch 12/50
6/6 [==============================] - 0s 12ms/step - loss: 0.9192 - accuracy: 0.6875 - val_loss: 0.9298 - val_accuracy: 0.7083
Epoch 13/50
6/6 [==============================] - 0s 12ms/step - loss: 0.9098 - accuracy: 0.6979 - val_loss: 0.9236 - val_accuracy: 0.6667
Epoch 14/50
6/6 [==============================] - 0s 10ms/step - loss: 0.9013 - accuracy: 0.6979 - val_loss: 0.9178 - val_accuracy: 0.6250
Epoch 15/50
6/6 [==============================] - 0s 12ms/step - loss: 0.8929 - accuracy: 0.6875 - val_loss: 0.9124 - val_accuracy: 0.6250
Epoch 16/50
6/6 [==============================] - 0s 12ms/step - loss: 0.8839 - accuracy: 0.6771 - val_loss: 0.9060 - val_accuracy: 0.6250
Epoch 17/50
6/6 [==============================] - 0s 12ms/step - loss: 0.8755 - accuracy: 0.6667 - val_loss: 0.8997 - val_accuracy: 0.6250
Epoch 18/50
6/6 [==============================] - 0s 11ms/step - loss: 0.8672 - accuracy: 0.6771 - val_loss: 0.8935 - val_accuracy: 0.6250
Epoch 19/50
6/6 [==============================] - 0s 11ms/step - loss: 0.8589 - accuracy: 0.6771 - val_loss: 0.8876 - val_accuracy: 0.6250
Epoch 20/50
6/6 [==============================] - 0s 13ms/step - loss: 0.8508 - accuracy: 0.6771 - val_loss: 0.8811 - val_accuracy: 0.6250
Epoch 21/50
6/6 [==============================] - 0s 11ms/step - loss: 0.8424 - accuracy: 0.6771 - val_loss: 0.8748 - val_accuracy: 0.6250
Epoch 22/50
6/6 [==============================] - 0s 12ms/step - loss: 0.8338 - accuracy: 0.6771 - val_loss: 0.8674 - val_accuracy: 0.6250
Epoch 23/50
6/6 [==============================] - 0s 11ms/step - loss: 0.8255 - accuracy: 0.6771 - val_loss: 0.8598 - val_accuracy: 0.6250
Epoch 24/50
6/6 [==============================] - 0s 12ms/step - loss: 0.8173 - accuracy: 0.6771 - val_loss: 0.8527 - val_accuracy: 0.6250
Epoch 25/50
6/6 [==============================] - 0s 12ms/step - loss: 0.8090 - accuracy: 0.6771 - val_loss: 0.8451 - val_accuracy: 0.6250
Epoch 26/50
6/6 [==============================] - 0s 10ms/step - loss: 0.8008 - accuracy: 0.6771 - val_loss: 0.8374 - val_accuracy: 0.6250
Epoch 27/50
6/6 [==============================] - 0s 11ms/step - loss: 0.7924 - accuracy: 0.6771 - val_loss: 0.8295 - val_accuracy: 0.6250
Epoch 28/50
6/6 [==============================] - 0s 11ms/step - loss: 0.7851 - accuracy: 0.6771 - val_loss: 0.8232 - val_accuracy: 0.6250
Epoch 29/50
6/6 [==============================] - 0s 11ms/step - loss: 0.7763 - accuracy: 0.6771 - val_loss: 0.8155 - val_accuracy: 0.6250
Epoch 30/50
6/6 [==============================] - 0s 9ms/step - loss: 0.7682 - accuracy: 0.6771 - val_loss: 0.8078 - val_accuracy: 0.6250
Epoch 31/50
6/6 [==============================] - 0s 11ms/step - loss: 0.7603 - accuracy: 0.6771 - val_loss: 0.7999 - val_accuracy: 0.6250
Epoch 32/50
6/6 [==============================] - 0s 13ms/step - loss: 0.7524 - accuracy: 0.6771 - val_loss: 0.7918 - val_accuracy: 0.6250
Epoch 33/50
6/6 [==============================] - 0s 12ms/step - loss: 0.7448 - accuracy: 0.6771 - val_loss: 0.7844 - val_accuracy: 0.6250
Epoch 34/50
6/6 [==============================] - 0s 14ms/step - loss: 0.7368 - accuracy: 0.6771 - val_loss: 0.7766 - val_accuracy: 0.6250
Epoch 35/50
6/6 [==============================] - 0s 15ms/step - loss: 0.7293 - accuracy: 0.6771 - val_loss: 0.7698 - val_accuracy: 0.6250
Epoch 36/50
6/6 [==============================] - 0s 12ms/step - loss: 0.7218 - accuracy: 0.6771 - val_loss: 0.7623 - val_accuracy: 0.6250
Epoch 37/50
6/6 [==============================] - 0s 12ms/step - loss: 0.7143 - accuracy: 0.6771 - val_loss: 0.7561 - val_accuracy: 0.6250
Epoch 38/50
6/6 [==============================] - 0s 11ms/step - loss: 0.7068 - accuracy: 0.6771 - val_loss: 0.7490 - val_accuracy: 0.6250
Epoch 39/50
6/6 [==============================] - 0s 12ms/step - loss: 0.6995 - accuracy: 0.6771 - val_loss: 0.7422 - val_accuracy: 0.6250
Epoch 40/50
6/6 [==============================] - 0s 11ms/step - loss: 0.6925 - accuracy: 0.6771 - val_loss: 0.7351 - val_accuracy: 0.6250
Epoch 41/50
6/6 [==============================] - 0s 13ms/step - loss: 0.6854 - accuracy: 0.6771 - val_loss: 0.7279 - val_accuracy: 0.6250
Epoch 42/50
6/6 [==============================] - 0s 15ms/step - loss: 0.6783 - accuracy: 0.6771 - val_loss: 0.7210 - val_accuracy: 0.6250
Epoch 43/50
6/6 [==============================] - 0s 12ms/step - loss: 0.6718 - accuracy: 0.6771 - val_loss: 0.7152 - val_accuracy: 0.6250
Epoch 44/50
6/6 [==============================] - 0s 14ms/step - loss: 0.6649 - accuracy: 0.6771 - val_loss: 0.7084 - val_accuracy: 0.6250
Epoch 45/50
6/6 [==============================] - 0s 11ms/step - loss: 0.6582 - accuracy: 0.6771 - val_loss: 0.7022 - val_accuracy: 0.6250
Epoch 46/50
6/6 [==============================] - 0s 12ms/step - loss: 0.6520 - accuracy: 0.6771 - val_loss: 0.6953 - val_accuracy: 0.6250
Epoch 47/50
6/6 [==============================] - 0s 13ms/step - loss: 0.6453 - accuracy: 0.6771 - val_loss: 0.6887 - val_accuracy: 0.6250
Epoch 48/50
6/6 [==============================] - 0s 12ms/step - loss: 0.6393 - accuracy: 0.6771 - val_loss: 0.6818 - val_accuracy: 0.6250
Epoch 49/50
6/6 [==============================] - 0s 12ms/step - loss: 0.6330 - accuracy: 0.6771 - val_loss: 0.6757 - val_accuracy: 0.6250
Epoch 50/50
6/6 [==============================] - 0s 12ms/step - loss: 0.6272 - accuracy: 0.6771 - val_loss: 0.6700 - val_accuracy: 0.6250

In [41]:
model.evaluate(scaled_test, y_test)

1/1 [==============================] - 0s 47ms/step - loss: 0.6429 - accuracy: 0.6667

[0.6428549289703369, 0.6666666865348816]

In [43]:
import pandas as np

In [45]:
np.argmax(model.predict(scaled_test), axis = 1)

AttributeError: module 'pandas' has no attribute 'argmax'

In [44]:
np.argmax(model.predict(scaled_test), axis = 1)

AttributeError: module 'pandas' has no attribute 'argmax'